# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Temporary uploads
uploads/*
!uploads/.gitkeep
tmp/
temp/

# Prisma Generated Client
src/generated/prisma/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
